body {
    background-color: black;
}
 h1 {
    text-transform: uppercase;
    font-size: 3rem;
 }   
 #poster {
    width: 50%;
    margin-left: 25%;
    text-align: center;
    font-family: "libre baskville",serif;
    margin-top: 100px;
    color: white;
}


#image {
    border:5px white;
    width: 100%;
    #first {
 font-family: Regular Libre Baskerville;
 background-color: black;
 color: white;
}


#second {
    text-align: center;
}
} 